script#profile-info-template(type="text/x-handlebars-template")
  .container-fluid
    .row-fluid
      .span6
        .x-profile-pic
          img(src="{{imgUrl}}")
        .x-info-sheet
          .x-name
            | {{dossier.prefixe}} {{dossier.prenom}} {{dossier.nomFamille}}
            {{#if dossier.suffixe}}
            |, {{dossier.suffixe}}
            {{/if}}
            | (#&nbsp;{{dossier.numero}})
          {{#if adresse.unite}}
          .x-address {{adresse.unite}}-{{adresse.rue}}
          {{else}}
          .x-address {{adresse.rue}}
          {{/if}}
          .x-address {{adresse.ville}} ({{adresse.province}})  {{adresse.codePostal}}
      .span6
        {{#if note}}
        .x-notes
          .x-date {{note.dateCreation}}
          .x-body {{note.contenu}}
          .x-auth {{note.auteur}}
        {{/if}}
