script#queries-template(type="text/x-handlebars-template")
  ul.nav.nav-list
    {{#each queries}}
    li.nav-header {{query.label}}

      {{#if current}}
      button.btn.btn-mini.pull-right actualiser

      {{#eachWithIndex results}}
      {{#if currentIdx}}
      li.active: a(href="/dossiers/{{_id}}", data-index="{{index}}")
        i.icon-user.icon-white
        | &nbsp;{{label}}
      {{else}}
      li: a(href="/dossiers/{{_id}}", data-index="{{index}}")
        i.icon-user
        | &nbsp;{{label}}
      {{/if}}
      {{/eachWithIndex}}

      {{else}}
      button.btn.btn-mini.pull-right(data-queryid="{{query._id}}") consulter

      {{/if}}
    li.divider
    {{/each}}
