script#queries-template(type="text/x-handlebars-template").
  <ul class="nav nav-list">
    {{#each queries}}
    <li class="nav-header">
      {{info.label}}
      <div class="btn-group pull-right">
        {{#if info.criteria}}
          <button class="delete btn btn-mini" data-query-id="{{info._id}}"><i class="icon-remove"></i></button>
        {{/if}}
        <button class="refresh btn btn-mini" data-query-id="{{info._id}}">
          {{#if info.criteria}}
            <i class="icon-refresh"/>
          {{else}}
            {{#if isCurrentQuery}}
              actualiser
            {{else}}
              consulter
            {{/if}}
          {{/if}}
        </button>
      </div>
    </li>
    {{#if isCurrentQuery}}
    {{#each results}}
    {{#if isCurrentDossier}}
    <li class="active">
    {{else}}
    <li>
    {{/if}}
      <a href="/dossiers/{{info._id}}" data-dossier-id="{{info._id}}">
        {{#if isCurrentDossier}}
        <i class="icon-user icon-white"/>
        {{else}}
        <i class="icon-user"/>
        {{/if}}
        &nbsp;{{info.label}}
      </a>
    </li>
    {{/each}}
    {{/if}}
    <li class="divider"/>
    {{/each}}
  </ul>
