script#queries-template(type="text/x-handlebars-template")
  ul.nav.nav-list
    {{#each queries}}
    li.nav-header {{info.label}}

      {{#if isCurrentQuery}}
      button.btn.btn-mini.pull-right actualiser

      {{#each results}}
      {{#if isCurrentDossier}}
      li.active: a(href="/dossiers/{{info._id}}", data-dossierid="{{info._id}}")
        i.icon-user.icon-white
        | &nbsp;{{info.label}}
      {{else}}
      li: a(href="/dossiers/{{info._id}}", data-dossierid="{{info._id}}")
        i.icon-user
        | &nbsp;{{info.label}}
      {{/if}}
      {{/each}}

      {{else}}
      button.btn.btn-mini.pull-right(data-queryid="{{info._id}}") consulter

      {{/if}}
    li.divider
    {{/each}}
