//- Copyright (C) 2012  CODE3 Cooperative de solidarite
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//- 
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <http://www.gnu.org/licenses/>.

script#queries-template(type="text/x-handlebars-template").
  <ul class="nav nav-list">
    {{#each queries}}
    <li class="nav-header" data-query-id="{{info._id}}">
      {{info.label}}
      <div class="btn-group pull-right">
        {{#if info.criteria}}
          <button class="delete btn btn-mini"><i class="icon-trash"></i></button>
        {{/if}}
        <button class="refresh btn btn-mini">
          {{#if info.criteria}}
            <i class="icon-refresh"/>
          {{else}}
            {{#if isCurrentQuery}}
              actualiser
            {{else}}
              consulter
            {{/if}}
          {{/if}}
        </button>
      </div>
    </li>
    {{#if isCurrentQuery}}
    {{#each results}}
    {{#if isCurrentDossier}}
    <li class="active">
    {{else}}
    <li>
    {{/if}}
      <a href="/dossiers/{{info._id}}" data-dossier-id="{{info._id}}">
        {{#if isCurrentDossier}}
        <i class="icon-user icon-white"/>
        {{else}}
        <i class="icon-user"/>
        {{/if}}
        &nbsp;{{info.label}}
      </a>
    </li>
    {{/each}}
    {{/if}}
    <li class="divider"/>
    {{/each}}
  </ul>
