.container-fluid
  .row-fluid.x-top-row
    .span2
      img(src="/img/logo_oaq.png")
    .span10 
      form.form-search
        .input-append
          input.input-large.search-query(type="text") 
          button.btn(type="submit"): i.icon-search
  .row-fluid
    .span3.well.x-nav-menu
      form: select#x-context-picker
        option(value="tableauOrdre") Tableau de l'Ordre
        option(value="formationContinue") Formation continue
        option(value="inspectionProfessionnelle") Inspection professionnelle
      #x-saved-query-tree
      #x-adhoc-query-tree
    .span9
      .container-fluid
        .row-fluid
          .span1
            button.btn#x-profile-nav-prev
              i.icon-chevron-left
          #x-profile-info.span10
          .span1
            button.btn#x-profile-nav-next
              i.icon-chevron-right
        .row-fluid
          #x-current-context.span12

script(type="text/javascript")
  var _ref;
  this.OAQ = (_ref = window.OAQ) != null ? _ref : {};
  OAQ._savedQueries = !{JSON.stringify(savedQueries)};

!= partial('profile_template')
!= partial('tableau_ordre_template')
!= partial('formation_continue_template')
!= partial('inspection_professionnelle_template')
!= partial('queries_template')
!= js('app')
