.navbar
  .navbar-inner
    .container
      .pull-left
        p.navbar-text
          span.badge.badge-warning 4
          |  messages non-lus
          
      .pull-right
        ul.nav
          li
            p.navbar-text
              i.icon-user.icon-white
              |  Mme. Example
          li
            a(href="#")
              i.icon-off.icon-white
              |  Quitter

.container-fluid
  .row-fluid.x-top-row
    .span2
      img(src="/img/logo_oaq.png")
    .span10 
      form.form-search
        .input-append
          input.input-large.search-query(type="text") 
          button.btn(type="submit"): i.icon-search
  .row-fluid
    .span3.well.x-nav-menu
      form: select
        option Tableau de l'Ordre
        option Formation continue
        option Inspection professionnelle
      #x-query-tree
      ul.nav.nav-list
        li.nav-header Recherches ad hoc
      ul.nav.nav-list
        li.divider
        li.nav-header Dossiers ouverts
        li: a(href="")
          i.icon-user
          | M. Pierre Deschamps
        li: a(href="")
          i.icon-home
          | Vitruve inc.
        li: a(href="")
          i.icon-user
          | Mme Denise Laroche
        li: a(href="")
          i.icon-user
          | M. Jean Lafleur
        li: a(href="")
          i.icon-user
          | M. Jacques Duchesne
    .span9
      .container-fluid
        .row-fluid
          .span1
            button.btn#x-profile-nav-prev
              i.icon-chevron-left
          #x-profile-info.span10
          .span1
            button.btn#x-profile-nav-next
              i.icon-chevron-right
        .row-fluid
          #x-current-context.span12

script(type="text/javascript")
  var _ref;
  this.OAQ = (_ref = window.OAQ) != null ? _ref : {};
  OAQ._savedQueries = !{JSON.stringify(savedQueries)};

!= partial('profile_template')
!= partial('tableau_ordre_template')
!= partial('queries_template')
