!!!
<!--[if lt IE 7]>  <html class="no-js ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html class="no-js"> <![endif]-->
<!--[if !IE]><!-->
html.no-js(lang='en') <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width\=device-width, initial-scale\=1.0')
    title Prototype OAQ
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Permanent+Marker')
    != css('style')
    // if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    != js('vendor/modernizr')
  body
    .navbar
      .navbar-inner
        .container
          .pull-left
            p.navbar-text
              a(href="/messages", style="color:#999;")
                button.btn.btn-warning #{unreadCount}
                |  messages non-lus
              
          .pull-right
            ul.nav
              li
                p.navbar-text
                  i.icon-user.icon-white
                  |  Mme. Example
              li
                a(href="#")
                  i.icon-off.icon-white
                  |  Quitter
    != body
