@import '../../public/css/bootstrap.css'
@import 'nib'

.navbar-inner
  border-radius 0
form.form-search
  margin 18px 0
  input
    width 400px
    height 2em
  button
    height 2.8em

.x-profile-pic
  width 69px
  height 74px
  background url(/img/author-overlay-bg.png) no-repeat
  float left
  margin-right 2em
  img
    margin 6px 0 0 6px

.x-info-sheet
  min-height 140px
  .x-name
    font-weight bold
    font-size 1.1em
    margin-bottom 10px

.x-notes
  background linear-gradient(top, #f8f284, #f5f186)
  padding 10px 20px
  font 1.1em 'Permanent Marker', cursive;
  z-index 1
  box-shadow 1px 5px 8px grey
  .x-auth
    text-align right
    &:before
      content "- "

.x-top-row
  margin-bottom 2em

.x-nav-menu
  padding 15px
  select
    width 100%

.nav-header
  margin-top 9px
  margin-bottom 9px

.x-message-profile-pic
  padding 3px
  margin 0 1em 0 2em
  box-shadow 0 1px 3px #999

.popover.bottom
  ul
    margin 0
    list-style none
  li
    display block
    height 40px
    padding-bottom 10px
    padding-top 10px
    border-bottom 1px solid #ddd
  img
    box-shadow 0 1px 3px #999
    padding 2px
    margin 0 6px 0 0
  .arrow
    left 127px
  .popover-inner
    border 1px solid #999
    border-radius 0
    background white
    .popover-title
      font-size 1em

.nav-list
  padding-left 5px
  padding-right @padding-left

